<div class="main-title">
  <h1 class="main-title__title">
    Add to stock
  </h1>
</div>
<div class="add-product">
  <form
    class="add-product__form"
    [formGroup]="productForm"
    (ngSubmit)="addProduct()"
  >
    <div class="form-item">
      <label class="form-item__label" for="price">Price</label>
      <input
        name="price"
        type="number"
        placeholder="Enter product price"
        formControlName="price"
        class="form-item__input"
      />
    </div>
    <div class="form-item">
      <label class="form-item__label" for="quantity">Quantity</label>
      <input
        name="quantity"
        type="number"
        placeholder="Enter product quantity"
        formControlName="quantity"
        class="form-item__input"
      />
    </div>
    <div class="form-item">
      <label class="form-item__label" for="quantity">Package size</label>
      <input
        name="amount"
        type="number"
        placeholder="Enter product package size"
        formControlName="amount"
        class="form-item__input"
      />
    </div>
    <div class="form-item">
      <label class="form-item__label" for="quantity">Package size unit</label>
      <input
        name="unit"
        type="text"
        placeholder="Enter product package size unit"
        formControlName="unit"
        class="form-item__input"
      />
    </div>
  </form>
</div>
