.product-list {
  padding: 0;
  margin: 0;
}

h4,
p {
  margin: 0;
}

.product-item {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // padding: 12px 16px;
  padding: 20px;
  outline: none;
  font-family: 'Lato', sans-serif;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.product-item-inner {
  opacity: 0.8;
  flex: 1;
}

.product-item__actions {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &--selected {
    background-color: rgba(252, 143, 0, 0.568);
  }
}

.product-item .product-item__title {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.product-item .product-item__date {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.product-list-actions {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
}

.product-list-actions button {
  border: none;
  margin: 0 4px;
  padding: 4px 8px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  background: transparent;
  border: 1px solid;
}
