<div class="main-title">
  <h1 class="main-title__title">
    Add to list
  </h1>
</div>
<div class="add-product">
  <form
    class="add-product__form"
    [formGroup]="productForm"
    (ngSubmit)="addProduct()"
  >
    <div class="form-item">
      <label class="form-item__label" for="name">Product name</label>
      <input
        name="name"
        autocomplete="off"
        formControlName="name"
        (keyup)="generateTag()"
        class="form-item__input"
      />
    </div>
    <div class="form-item">
      <label class="form-item__label" for="name">Suggested tag</label>
      <div class="form-item__tags">
        <button
          class="btn-small"
          *ngFor="let product of products"
          (click)="selectTag($event, product)"
        >
          {{ product.tag }}
        </button>
      </div>
    </div>
    <div class="form-item">
      <label for="name" class="form-item__label">Product tag</label>
      <input
        name="tag"
        autocomplete="off"
        formControlName="tag"
        class="form-item__input"
      />
    </div>
    <div class="form-item">
      <label class="form-item__label" for="name">Quantity</label>
      <input
        name="quantity"
        type="number"
        autocomplete="off"
        formControlName="quantity"
        class="form-item__input"
        min="1"
      />
    </div>
  </form>
  {{ scanedCode }}
  <button (click)="scanBarcode()">scan</button>
  <div #barcode></div>
</div>
