<div class="main-title">
  <h1 class="main-title__title">
    Add to list
  </h1>
</div>
<div class="add-product">
  <form
    class="add-product__form"
    [formGroup]="productForm"
    (ngSubmit)="addProduct()"
  >
    <div class="add-product__form__item">
      <label for="name">Product name</label>
      <input
        name="name"
        placeholder="Enter product name"
        formControlName="name"
        (keyup)="generateTag()"
      />
    </div>
    <div class="add-product__form__item">
      <label for="name">Product tag</label>
      <input name="tag" formControlName="tag" />
    </div>
    <div>
      <button
        class="btn-small"
        *ngFor="let product of products"
        (click)="selectTag($event, product)"
      >
        {{ product.tag }}
      </button>
    </div>
    <button>Add product</button>
  </form>
</div>
