<div class="main-title">
  <h1 class="main-title__title">{{ product.name }}</h1>
  <!-- <p class="main-title__subtitle">{{ product.date | date }}</p> -->
  <div class="main-title__actions">
    <span>{{ product.date | date }}</span>
    <button class="btn-small" (click)="deleteProduct()">Delete</button>
    <button class="btn-small" (click)="addToStock()">Add to stock</button>
  </div>
</div>
<h2 class="subtitle">Product shopping history</h2>
<div class="content-wrapper">
  <ul class="product-list">
    <app-product-item
      *ngFor="let item of stockHistoryItems"
      [item]="item"
    ></app-product-item>
  </ul>
</div>
