/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';
@import './theme/product-list.component';

body {
  background: #fbfbfb;
}

.main-title {
  // margin: 16px 0;
  margin-top: 8px;
}

.main-title__title {
  margin: 0;
  padding: 8px 16px;
  font-family: 'Chivo', sans-serif;
  font-size: 26px;
  font-weight: 900;
  color: #1f262a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title__more {
  min-width: 125px;
  position: absolute;
  right: 15px;
  z-index: 999;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.main-title__more__item {
  margin: 0;
  padding: 8px 16px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.main-title__title svg {
  width: 15px;
  height: 15px;
}

.main-title__subtitle {
  padding: 0 4%;
  font-family: 'Chivo', sans-serif;
  color: #2a3439;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 6px;
  font-size: 12px;
  line-height: 16px;
}

.main-title__actions {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0;
}

.main-title__actions span {
  font-family: 'Chivo', sans-serif;
  margin-right: auto;
  font-size: 12px;
  line-height: 16px;
  color: #2a3439;
}

// .main-title__actions button {
//   border: none;
//   margin: 0 4px;
//   padding: 4px 8px;
//   font-size: 10px;
//   text-transform: uppercase;
//   font-family: 'Lato', sans-serif;
//   border-radius: 4px;
//   background: transparent;
//   border: 1px solid;
// }

.btn-small {
  border: none;
  margin: 0 4px;
  padding: 4px 8px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  background: transparent;
  border: 1px solid;
}

.content-wrapper {
  overflow: auto;
  background: white;
  border-radius: 8px;
  // margin: 6% 4% 22% 4%;
  margin: 8px 16px;
  margin-bottom: 80px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
// product and stock add
.add-product {
  overflow: auto;
  background: white;
  border-radius: 8px;
  margin: 0 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.add-product__form {
  display: flex;
  flex-direction: column;
}

.form-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  // padding-bottom: 10px;
  &:not(:last-of-type) {
    padding-bottom: 0;
  }
  &:not(:first-child) {
    padding-top: 10px;
  }
}

.form-item__label,
.form-item__input {
  margin-bottom: 8px;
}

.form-item__label {
  font-size: 12px;
  opacity: 0.8;
}

.form-item__input {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: #fbfbfb;
  box-shadow: inset 0 0 4px 0px rgba(25, 25, 25, 0.05);
  font-weight: 400;
  outline: none;
}

.form-item__tags {
  min-height: 34px;
  box-sizing: border-box;
  background: #fbfbfb;
  border-radius: 4px;
  display: flex;
  overflow: auto;
  padding: 6.5px 4px;
  box-shadow: inset 0 0 4px 0px rgba(25, 25, 25, 0.05);
}
