/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~normalize.css/normalize.css';

html,
body {
  /* height: 100%; */
}

body {
  background: #fbfbfb;
}

.add-product-modal-wrapper {
  justify-content: baseline !important;
}
.add-product-modal {
  background: red;
}

.main-title {
  overflow: auto;
  background: #333333;
  /* padding-bottom: 2%;
  margin-bottom: 2%; */
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.main-title__title {
  padding: 0 4%;
  font-family: 'Chivo', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

.content-wrapper {
  overflow: auto;
  background: white;
  border-radius: 8px;
  margin: 6% 4% 22% 4%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
