.navigation {
  display: flex;
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation .navigation__item {
  fill: gray;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 16px 8px;
  position: relative;
}

.navigation a svg {
  width: 20px;
  height: 20px;
}
