<!-- <div class="product-list-actions" *ngIf="selectedProducts">
  <button>Add to stock</button>
  <button (click)="deleteSelected()">Delete</button>
</div> -->
<div class="content-wrapper">
  <ul class="product-list">
    <li
      *ngFor="let product of products"
      class="product-item"
      [routerLink]="product.id"
      button
    >
      <div
        class="product-item__actions"
        [class.product-item__actions--selected]="product.selected"
        (click)="onChecked($event, product.id)"
      ></div>
      <div class="product-item-inner">
        <h4 class="product-item__title">{{ product.name }}</h4>
        <p class="product-item__date">{{ product.date | date }}</p>
      </div>
    </li>
  </ul>
</div>
